body
  padding   0
  margin    0
  overflow  hidden

button
  position  fixed
  top       1rem
  left      1rem
  width     10rem
  height    4rem

pre
  position  fixed
  top       1rem
  right     1rem
  width     20rem
  height    8rem
  color     white
  background  black
  opacity   .6

